<ion-view title="Grootmeesters">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h1>Grootmeesters</h1>
    <div class="row text-center">
  		<div ng-click="" class="grow col col-50"><img src="http://dummyimage.com/100x100/fff/000"></div>
  		<div ng-click="" class="grow col col-50"><img src="http://dummyimage.com/100x100/fff/000"></div>
  	</div>	
  	<div class="row text-center">	
    	<div ng-click="" class="grow col col-50"><img src="http://dummyimage.com/100x100/fff/000"></div>
    	<div ng-click="" class="grow col col-50"><img src="http://dummyimage.com/100x100/fff/000"></div>	
    </div>	
  </ion-content>
</ion-view>
